@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap");
:export {
  primaryColor: #ff7676;
  timelineDistanceToLeftCompressed: 250px;
}

:export {
  primaryColor: #ff7676;
  timelineDistanceToLeftCompressed: 250px;
}

.preview-page .button-container, .preview-page .timeline-container {
  width: min(500px, 100%);
}
.preview-page .timeline-container {
  margin: auto;
  height: auto;
  padding-top: 35vh;
  position: relative;
}
.preview-page .timeline-container::after {
  content: "";
  position: absolute;
  background-color: #ff7676;
  width: 4px;
  height: 100%;
  left: calc(50% - 155px);
  top: 35vh;
  z-index: 1;
}
.preview-page .timeline-container .entry-container, .preview-page .timeline-container .timeline-container-horizontal .entry-content-title, .preview-page .timeline-container-horizontal .timeline-container .entry-content-title, .preview-page .timeline-container .timeline-container-horizontal-no-margin-left .entry-content-title, .preview-page .timeline-container-horizontal-no-margin-left .timeline-container .entry-content-title {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.preview-page .timeline-container .circle {
  background-color: white;
  border: 3px solid #ff7676;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 5;
  border-radius: 25px;
  top: 0px;
  left: calc( 50% - 213px );
}
.preview-page .timeline-container h1 {
  font-family: "Nunito", sans-serif;
  line-height: 100%;
  font-size: 3em;
}
.preview-page .timeline-container h2 {
  font-family: "Nunito", sans-serif;
  line-height: 100%;
  font-size: 2.9em;
  font-weight: 600;
}
.preview-page .timeline-container h3 {
  font-weight: 500;
  color: #ff7676;
}
.preview-page .timeline-container .timeline-content {
  position: relative;
  left: 35px;
  width: 250px;
  margin: auto;
}
.preview-page .timeline-container .entry-content {
  position: relative;
  top: 10px;
}
.preview-page .timeline-container-horizontal, .preview-page .timeline-container-horizontal-no-margin-left {
  position: relative;
  margin-top: 100px;
  height: fit-content;
  width: fit-content;
  padding-top: 150px;
}
.preview-page .timeline-container-horizontal::after, .preview-page .timeline-container-horizontal-no-margin-left::after {
  content: "";
  position: absolute;
  background-color: #ff7676;
  width: 100%;
  height: 4px;
  margin-left: 300px;
  bottom: 150px;
  z-index: 1;
}
.preview-page .timeline-container-horizontal .timeline-content-horizontal, .preview-page .timeline-container-horizontal-no-margin-left .timeline-content-horizontal {
  position: relative;
  height: 500px;
  margin-left: calc( 300px - 125px );
  display: flex;
  align-items: flex-end;
  width: fit-content;
  height: fit-content;
}
.preview-page .timeline-container-horizontal-no-margin-left::after {
  margin-left: calc( 125px + 125px );
}
.preview-page .timeline-container-horizontal-no-margin-left .timeline-content-horizontal {
  margin-left: 125px;
}
.preview-page .timeline-container-horizontal .entry-container, .preview-page .timeline-container-horizontal .entry-content-title, .preview-page .timeline-container-horizontal-no-margin-left .entry-container, .preview-page .timeline-container-horizontal-no-margin-left .entry-content-title {
  width: 250px;
  margin: 0px 0px 150px 0px;
  position: relative;
  display: inline-block;
  height: fit-content;
}
.preview-page .timeline-container-horizontal .entry-content, .preview-page .timeline-container-horizontal-no-margin-left .entry-content {
  position: relative;
  bottom: 100px;
}
.preview-page .timeline-container-horizontal .entry-content-title, .preview-page .timeline-container-horizontal-no-margin-left .entry-content-title {
  bottom: -50px;
}
.preview-page .timeline-container-horizontal .circle, .preview-page .timeline-container-horizontal-no-margin-left .circle {
  background-color: white;
  border: 3px solid #ff7676;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 5;
  border-radius: 25px;
  top: 0px;
  left: calc( 50% - 213px );
  position: static;
  position: absolute;
  margin: auto;
  top: initial;
  bottom: calc(-23px);
  left: calc(50% - 25px);
}
.preview-page .timeline-container-horizontal h1, .preview-page .timeline-container-horizontal-no-margin-left h1 {
  font-family: "Nunito", sans-serif;
  line-height: 100%;
  font-size: 3em;
}
.preview-page .timeline-container-horizontal h2, .preview-page .timeline-container-horizontal-no-margin-left h2 {
  font-family: "Nunito", sans-serif;
  line-height: 100%;
  font-size: 2.9em;
  font-weight: 600;
}
.preview-page .timeline-container-horizontal h3, .preview-page .timeline-container-horizontal-no-margin-left h3 {
  font-weight: 500;
  color: #ff7676;
}
.preview-page .button-container {
  margin: auto;
}
.preview-page .timeline-container-outer {
  height: auto;
}
.preview-page .divider {
  width: 250px;
  margin: auto;
}

.iconContainer {
  height: 40px;
  width: 40px;
}

.link-container {
  height: 20px;
}

.floating-menu-button-container {
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 30px;
}

.checkmarks {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}

:export {
  primaryColor: #ff7676;
  timelineDistanceToLeftCompressed: 250px;
}

:export {
  primaryColor: #ff7676;
  timelineDistanceToLeftCompressed: 250px;
}

.landing-page h1 {
  position: relative;
  line-height: 1.1;
  font-size: 50px;
  margin-top: 70px;
  font-family: "Nunito", sans-serif;
}

.landing-page h1 span {
  font-family: "Nunito", sans-serif;
}

.landing-page p {
  margin: 20px 0px;
  /* hyphens: auto; */
}

/* positioning */
.intro-block {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  left: 35px;
}

.primaryButton, .createForm .timelineForm .finish, .createForm .timelineForm .next, .learnMore, .getStarted {
  margin-right: 5px;
  text-decoration: none;
  width: 10px;
  height: 10px;
  color: black;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
}

.getStarted {
  background-color: #ff7676;
}
.getStarted:active {
  background-color: #ff6d6d;
}

.learnMore {
  color: gray;
}

.landing-page::after {
  content: "";
  position: absolute;
  background-color: #ff7676;
  width: 4px;
  height: 100%;
  left: calc(50% - 155px);
  top: 0px;
  z-index: 1;
}

.intro-block .circle {
  background-color: white;
  border: 3px solid #ff7676;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 5;
  border-radius: 25px;
  top: 0px;
  left: calc( 50% - 213px );
}

:export {
  primaryColor: #ff7676;
  timelineDistanceToLeftCompressed: 250px;
}

:export {
  primaryColor: #ff7676;
  timelineDistanceToLeftCompressed: 250px;
}

.createForm h1 {
  font-size: 20px;
  margin: 10px 20px;
  font-family: "Nunito", sans-serif;
}
.createForm h2 {
  font-size: 40px;
  margin: 10px 20px;
  font-family: "Nunito", sans-serif;
  margin-top: 20px;
}
.createForm hr {
  width: 97%;
  border-width: 0;
  height: 1px;
  background-color: black;
  margin: auto;
  opacity: 0.2;
}
.createForm .timelineForm {
  width: 100%;
  margin: auto;
}
.createForm .timelineForm .next {
  background-color: #ff7676;
  float: right;
  border: 0px;
  width: 100px;
  height: 40px;
  line-height: 10px;
  clear: both;
  display: block;
}
.createForm .timelineForm .next:active {
  background-color: #ff6d6d;
}
.createForm .timelineForm .nextContainer {
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.createForm .timelineForm .notes {
  font-size: 0.9em;
  margin: 10px;
  margin-bottom: 15px;
  width: min(470px, 100%);
  margin: auto;
}
.createForm .timelineForm .locationInput {
  height: 150px;
}
.createForm .timelineForm .questionContainer {
  height: auto;
}
.createForm .timelineForm .inputRow {
  margin-top: 20px;
}
.createForm .timelineForm .date-input {
  margin-left: 10px;
  width: 45%;
  float: right;
}
.createForm .timelineForm .text-input {
  width: 60%;
}
.createForm .timelineForm .date-input,
.createForm .timelineForm .text-input {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
.createForm .timelineForm .text-input-wide {
  width: 100%;
}
.createForm .timelineForm .date-input-wide {
  width: 100%;
}
.createForm .timelineForm .addButton, .createForm .timelineForm .deleteButton {
  margin-top: 3px;
  background-color: transparent;
  border: none;
  color: #ff7676;
  cursor: pointer;
  outline: none;
}
.createForm .timelineForm .addButton {
  font-size: 40px;
  font-weight: 200;
  width: 35px;
  height: 35px;
  margin: 25px auto;
  display: block;
  border: 1px solid #ff7676;
  border-radius: calc(17.5px);
  line-height: 35px;
}
.createForm .timelineForm .rangeAndDeleteRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.createForm .timelineForm .dateRange {
  display: flex;
  justify-content: flex-end;
}
.createForm .timelineForm .entry-container, .createForm .timelineForm .preview-page .timeline-container-horizontal .entry-content-title, .preview-page .timeline-container-horizontal .createForm .timelineForm .entry-content-title, .createForm .timelineForm .preview-page .timeline-container-horizontal-no-margin-left .entry-content-title, .preview-page .timeline-container-horizontal-no-margin-left .createForm .timelineForm .entry-content-title {
  display: grid;
  grid-template-columns: 55% 30% 15%;
}
.createForm .timelineForm .dialog-content {
  width: 300px;
  height: 300px;
}
.createForm .timelineForm .dialog-button {
  text-transform: "none";
  color: #ff7676;
}
.createForm .timelineForm .finish {
  color: #ff7676;
  margin: auto;
  background-color: white;
  border: 1px solid #ff7676;
  width: 100px;
  height: 40px;
  line-height: 10px;
  clear: both;
  display: block;
}
.createForm .timelineForm .finish:active {
  color: white;
  background-color: #ff7676;
}
.createForm .timelineForm .errorContainer {
  width: min(470px, 100%);
  text-align: center;
  margin: auto;
  margin-top: 30px;
  height: 200px;
}

:export {
  primaryColor: #ff7676;
  timelineDistanceToLeftCompressed: 250px;
}

:export {
  primaryColor: #ff7676;
  timelineDistanceToLeftCompressed: 250px;
}

.menu-container {
  /* The Overlay (background) */
  /* Position the content inside the overlay */
  /* The navigation links inside the overlay */
  /* When you mouse over the navigation links, change their color */
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
}
.menu-container .menu-button-container {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
  right: 0px;
  top: 0px;
  z-index: 15;
}
.menu-container .overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: white;
  /* Black fallback color */
  background-color: rgba(255, 255, 255, 0.9);
  /* Black w/opacity */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
.menu-container .overlay-content {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 30px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */
}
.menu-container .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #000000;
  display: block;
  /* Display block instead of inline */
  transition: 0.3s;
  /* Transition effects on hover (color) */
}
.menu-container .overlay a:hover,
.menu-container .overlay a:focus {
  color: #ff7676;
}
@media screen and (max-height: 450px) {
  .menu-container .overlay a {
    font-size: 20px;
  }
  .menu-container .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

:export {
  primaryColor: #ff7676;
  timelineDistanceToLeftCompressed: 250px;
}

:export {
  primaryColor: #ff7676;
  timelineDistanceToLeftCompressed: 250px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.primaryButton {
  background-color: #ff7676;
  border: 0px;
  width: auto;
  height: 40px;
  line-height: 10px;
}
.primaryButton:active {
  background-color: #ff6d6d;
}

.action-button {
  color: black;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: #ff7676;
  border: 0px;
  width: 90px;
  height: 35px;
  line-height: 10px;
  clear: both;
  display: inline-block;
  float: right;
  margin: 10px;
}
.action-button:active {
  background-color: #ff6d6d;
}

.secondary-button {
  margin: 10px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: gray;
  border: none;
  background-color: transparent;
  font-size: 15px;
  float: right;
  outline: none;
  cursor: pointer;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.centered {
  text-align: center;
}

.centered-div {
  margin: auto;
  padding: 0px;
}

/*# sourceMappingURL=app.css.map */
