@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;1,700&display=swap");
@import "./timeline.scss";
@import "./landingPage.scss";
@import "./createForm.scss";
@import "./menu.scss";
@import "./variables.module.scss";
@import "./mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.primaryButton {
  @extend %navLink;
  background-color: $primary-color;
  border: 0px;
  width: auto;
  height: 40px;
  line-height: 10px;
  &:active {
    background-color: $primary-color-darker;
  }
}
.action-button {
  color: black;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 15px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  background-color: $primary-color;
  border: 0px;
  width: 90px;
  height: 35px;
  line-height: 10px;
  clear: both;
  display: inline-block;
  float: right;
  margin: 10px;
  &:active {
    background-color: $primary-color-darker;
  }
  &-disabled {
    background-color: rgb(134, 134, 134);
    cursor: default;
    &:active {
      background-color: rgb(134, 134, 134);
    }
  }
}

.secondary-button {
  margin: 10px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: gray;
  border: none;
  background-color: transparent;
  font-size: 15px;
  float: right;
  outline: none;
  cursor: pointer;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.centered {
  text-align: center;
}

.centered-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note {
  font-size: 0.8em;
  color: gray;
  margin: 30px 15% 20px 15%;
  text-align: center;
}
.loading-backdrop {
  z-index: $loading-backdrop-z-index;
}

.base-dialog {
  z-index: $menu-z-index;
}
