@import "./variables.module.scss";
@import "./mixins.scss";

// CreateTimeline styles
.createForm {
  h1 {
    font-size: 20px;
    margin: 10px 20px;
    font-family: "Nunito", sans-serif;
  }
  h2 {
    font-size: 40px;
    margin: 10px 20px;
    font-family: "Nunito", sans-serif;
    margin-top: 20px;
  }
  hr {
    width: 97%;
    border-width: 0;
    height: 1px;
    background-color: black;
    margin: auto;
    opacity: 0.2;
  }

  .timelineForm {
    width: 100%;
    margin: auto;
    .next {
      @extend %navLink;
      background-color: $primary-color;
      float: right;
      border: 0px;
      width: 100px;
      height: 40px;
      line-height: 10px;
      clear: both;
      display: block;
      &:active {
        background-color: $primary-color-darker;
      }
    }

    .nextContainer {
      height: 100px;
      margin-top: 50px;
      margin-bottom: 50px;
    }

    .notes {
      font-size: 0.9em;
      margin: 10px;
      margin-bottom: 15px;
      width: min(#{$accordion-width}, 100%);
      margin: auto;
    }
    .locationInput {
      height: 150px;
      // display: none;
    }
    .questionContainer {
      height: auto;
    }

    .inputRow {
      margin-top: 20px;
    }

    .date-input {
      margin-left: 10px;
      width: 45%;
      float: right;
    }

    .text-input {
      width: 60%;
    }

    .date-input,
    .text-input {
      font-family: "Montserrat", sans-serif;
      font-weight: 100;
    }

    .text-input-wide {
      width: 100%;
    }
    .date-input-wide {
      width: 100%;
    }

    %form-button {
      margin-top: 3px;
      background-color: transparent;
      border: none;
      color: $primary-color;
      cursor: pointer;
      outline: none;
    }

    .deleteButton {
      @extend %form-button;
    }

    .addButton {
      $diameter: 35px;
      @extend %form-button;
      font-size: 40px;
      font-weight: 200;
      width: $diameter;
      height: $diameter;
      margin: 25px auto;
      display: block;
      border: 1px solid $primary-color;
      border-radius: calc(#{$diameter / 2});
      line-height: $diameter;
    }

    .rangeAndDeleteRow {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .dateRange {
      display: flex;
      justify-content: flex-end;
    }

    .entry-container {
      display: grid;
      grid-template-columns: 55% 30% 15%;
    }

    .dialog-content {
      width: 300px;
      height: 300px;
    }

    .dialog-button {
      text-transform: "none";
      color: $primary-color;
    }

    .finish {
      @extend %navLink;
      color: $primary-color;
      margin: auto;
      background-color: white;
      border: 1px solid $primary-color;
      width: 100px;
      height: 40px;
      line-height: 10px;
      clear: both;
      display: block;
      &:active {
        color: white;
        background-color: $primary-color;
      }
    }

    .errorContainer {
      width: min(#{$accordion-width}, 100%);
      text-align: center;
      margin: auto;
      margin-top: 30px;
      height: 200px;
    }
  }
}
