@import "./variables.scss";
@import "./mixins.scss";
// body {
//   -ms-overflow-style: none;
// }
// ::-webkit-scrollbar {
//   display: none;
// }
.preview-page {
  %centered-container {
    width: min(500px, 100%);
    margin: auto;
  }
  .timeline-container {
    @extend %centered-container;
    // height: 100%;
    // width: calc(#{$timeline-container-width + $timeline-container-margin});
    width: 100%;
    margin: auto;
    height: auto;
    padding: 50px;
    padding-top: $timeline-distance-to-top;
  }

  .timeline-container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: $primary-color;
      //   border: 3px solid $primary-color;
      width: $timeline-width;
      height: 100%;
      left: calc(50% - #{$timeline-container-width / 2 + $timeline-margin});
      top: $timeline-distance-to-top;
    }
    .entry-container {
      width: $timeline-container-width;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      //   border: 1px solid red;
    }

    .circle {
      @include circle($timeline-container-width);
    }

    h1 {
      font-family: "Nunito", sans-serif;
      line-height: 100%;
      font-size: 3em;
    }
    h2 {
      font-family: "Nunito", sans-serif;
      line-height: 100%;
      font-size: 2.9em;
      font-weight: 600;
      //   font-size: 2.8em;
      //   font-weight: 600;
    }

    h3 {
      //   font-weight: 600;
      font-weight: 500;
      color: $primary-color;
    }

    .timeline-content {
      //   top: calc(#{$timeline-distance-to-top} - #{$circle-diameter});
      position: relative;
      left: $shift-container-to-right-distance;
      width: $timeline-container-width;
      margin: auto;
    }
    .entry-content {
      position: relative;
      top: $entry-distance-from-circle;
    }
  }
  .button-container {
    @extend %centered-container;
  }

  .timeline-container-outer {
    height: auto;
  }

  .divider {
    width: $timeline-container-width;
    margin: auto;
  }
}
.iconContainer {
  height: 40px;
  width: 40px;
}

.link-container {
  height: 20px;
}
