@import "./variables.module.scss";
@import "./mixins.scss";

.preview-page {
  %centered-container {
    width: min(500px, 100%);
  }
  .timeline-container {
    @extend %centered-container;
    margin: auto; // this line is causing certain issues with the dom-to-image cropping. e.g, getting rid of margin: auto in timeline-container makes the cropping correct
    height: auto;
    padding-top: $timeline-distance-to-top;

    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-color: $primary-color;
      width: $timeline-width;
      height: 100%;
      left: calc(50% - #{$timeline-container-width / 2 + $timeline-margin});
      top: $timeline-distance-to-top;
      z-index: $timeline-line-z-index;
    }
    .entry-container {
      width: $timeline-container-width;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }

    .circle {
      @include circle($timeline-container-width);
    }

    h1 {
      font-family: "Nunito", sans-serif;
      line-height: 100%;
      font-size: 3em;
    }
    h2 {
      font-family: "Nunito", sans-serif;
      line-height: 100%;
      font-size: 2.9em;
      font-weight: 600;
    }

    h3 {
      font-weight: 500;
      color: $primary-color;
    }

    .timeline-content {
      position: relative;
      left: $shift-container-to-right-distance;
      width: $timeline-container-width;
      margin: auto;
    }
    .entry-content {
      position: relative;
      top: $entry-distance-from-circle;
    }
  }
  .timeline-container-horizontal {
    position: relative;
    margin-top: 100px;
    height: fit-content;
    width: fit-content;
    padding-top: $horizontal-timeline-distance-from-bottom;
    &::after {
      content: "";
      position: absolute;
      background-color: $primary-color;
      width: 100%;
      height: $timeline-width;
      margin-left: $timeline-distance-to-left;
      bottom: $horizontal-timeline-distance-from-bottom;
      z-index: $timeline-line-z-index;
    }

    .timeline-content-horizontal {
      position: relative;
      height: $horizontal-timeline-height;
      margin-left: calc(
        #{$timeline-distance-to-left} - #{$timeline-container-width / 2}
      );
      display: flex;
      align-items: flex-end;
      width: fit-content;
      height: fit-content;
    }

    &-no-margin-left {
      // for a timeline with no left margin (used for multi-image downloading)
      @extend .timeline-container-horizontal;
      &::after {
        margin-left: calc(
          #{$timeline-distance-to-left-compressed / 2} + #{$timeline-container-width /
            2}
        );
      }

      .timeline-content-horizontal {
        margin-left: $timeline-distance-to-left-compressed / 2;
      }
    }

    .entry-container {
      width: $timeline-container-width;
      margin: 0px 0px $horizontal-timeline-distance-from-bottom 0px;
      position: relative;
      display: inline-block;
      height: fit-content;
    }
    .entry-content {
      position: relative;
      bottom: 100px;
      &-title {
        @extend .entry-container;
        // left: 45%; // controls whether title block is centered or not
        bottom: -50px;
      }
    }
    .circle {
      @include circle-horizontal($timeline-container-width);
    }
    h1 {
      font-family: "Nunito", sans-serif;
      line-height: 100%;
      font-size: 3em;
    }
    h2 {
      font-family: "Nunito", sans-serif;
      line-height: 100%;
      font-size: 2.9em;
      font-weight: 600;
    }

    h3 {
      font-weight: 500;
      color: $primary-color;
    }
  }
  .button-container {
    @extend %centered-container;
    margin: auto;
  }

  .timeline-container-outer {
    height: auto;
  }

  .divider {
    width: $timeline-container-width;
    margin: auto;
  }
}
.iconContainer {
  height: 40px;
  width: 40px;
}

.link-container {
  height: 20px;
}

.floating-menu-button-container {
  position: fixed;
  right: 0px;
  bottom: 0px;
  margin: 30px;
}

.checkmarks {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
}
