$primary-color: rgb(255, 118, 118);
$primary-color-darker: rgb(236, 95, 95);
$intro-block-width: 250px;
$timeline-container-width: 250px;
$timeline-margin: 50px;
$timeline-width: 4px;
$accordion-width: 470px;
