$primary-color: rgb(255, 118, 118);
$primary-color-darker: rgb(236, 95, 95);
$intro-block-width: 250px;
$timeline-container-width: 250px;
$timeline-margin: 30px; // edit this to shift timeline position
$timeline-width: 4px;
$accordion-width: 470px;
$timeline-distance-to-top: 200px;
$circle-diameter: 50px;
$shift-container-to-right-distance: 20px; // edit this to shift central container
